/* src/index.css */

/* Import Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; /* Light background color for the body */
  /* If you still want the grid image, make sure it is placed in the public directory */
  /* background-image: url('/images/grid.svg'); */ /* Uncomment if you want the background image */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #f3f4f6; /* Light grey background for code */
  padding: 2px 4px; /* Padding for better readability */
  border-radius: 4px; /* Slight rounding of the code block */
  color: #d1d5db; /* Light text color for better visibility */
}
